<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div align="center">
      <h1>Article</h1>
      <br /><br />
      <a href="/" class="btn btn-primary btn-sm mb-3">Home</a>
      <a th:href="@{/article/all}" class="btn btn-primary btn-sm mb-3"
        >Go Back</a
      >
    </div>
    <div align="center" class="container my-2">
      <table border="1" class="table table-striped table-responsive-md">
        <tr>
          <td width="20%">Author Name</td>
          <td th:utext="${article.name}">...</td>
        </tr>
        <tr>
          <td>Title</td>
          <td th:utext="${article.title}">...</td>
        </tr>
        <tr>
          <td>Category</td>
          <td th:utext="${article.category}">...</td>
        </tr>
        <tr>
          <td>PublicationDate</td>
          <td th:utext="${article.publicationDate}">...</td>
        </tr>
        <tr>
          <td>Article Content</td>
          <td th:utext="${article.content}">...</td>
        </tr>
        <tr>
          <td>Description</td>
          <td th:utext="${article.description}">...</td>
        </tr>
      </table>

      <div>
        <a
          th:href="@{/updateArticleForm/{id}(id=${article.id})}"
          class="btn btn-primary"
          sec:authorize="hasAnyAuthority('ADMIN','AUTHOR')"
          >Update Article</a
        >
        <a
          th:href="@{/deleteArticle/{id}(id=${article.id})}"
          class="btn btn-danger"
          sec:authorize="hasAnyAuthority('ADMIN')"
          >Delete Article</a
        >
      </div>
    </div>
  </body>
</html>
