<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article-List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <h1 align="center">Article List</h1>
    <br>
    <div align="center">
        <a href="/" class="btn btn-primary btn-sm mb-3">Home</a>
        <a th:href = "@{/createArticleForm}" class = "btn btn-primary btn-sm mb-3" sec:authorize="hasAnyAuthority('ADMIN')">Add Article</a>
        <br>
        <table border="1" class="table table-striped table-responsive-md container my-2" align="center">
            <tr th:each="entry, stat: ${allArticles}" align="center">
                <td th:text="${entry.key}" width="10%" >Categroy</td>
                <td width="90%">
                    <div th:if="not ${entry.value.isEmpty()}">
                        <table border="1" class="table table-striped table-responsive-md">
                            <tr align="center">
                                <th>Author Name</th>
                                <th>Article Title</th>
                                <th>PublicationDate</th>
                            </tr>
                            <tr th:each="article : ${entry.value}" align="center">
                                <td width="25%"><a th:href="@{/article/author/{author}(author=${article.email})}" th:utext="${article.name}">...
                                </td>
                                <td width="50%"><a th:href="@{{articleId}(articleId=${article.id})}" th:utext="${article.title}">...
                                </td>
                                <td th:utext="${#dates.format(article.publicationDate, 'dd-MMM-yyyy')}" width="15%">...</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>