<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Articles - Category</h1>
<br>
<br>


<a th:href="@{/fiction}">Fiction</a>

<br>
<a th:href="@{/non-fiction}">Non-Fiction</a>
<br>
<a th:href="@{/Wildlife}">Wildlife</a>
<br>
<a th:href="@{/Science_Tech}">Science_Tech</a>
<br>
<a th:href="@{/Political}">Political</a>

 <br>
 <hr>
 <br>
 
 <a th:href="@{/Authors}">Author's page</a>
 

</body>
</html>