<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Category Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
 <h2 style="color: #1338BE">Choose Categories</h2>
	<div class="product-preview-container">
		<ul>
			<li><a style="text-decoration: none" href="article.html"
				th:href="@{http://localhost:8080/fiction}">Fiction</a></li>
		</ul>
	</div>

	<div class="product-preview-container">
		<ul>
			<li><a style="text-decoration: none" href="fiction.html"
				th:href="@{http://localhost:8080/non-fiction}">Non-Fiction</a></li>
		</ul>
	</div>

	<div class="product-preview-container">
		<ul>
			<li><a style="text-decoration: none" href="fiction.html"
				th:href="@{http://localhost:8080/science}">Science</a></li>
		</ul>
	</div>

	<div class="product-preview-container">
		<ul>
			<li><a style="text-decoration: none"  href="fiction.html"
				th:href="@{http://localhost:8080/tech}">Tech</a></li>
		</ul>
	</div>

	<div class="product-preview-container">
		<ul>
			<li><a style="text-decoration: none"  href="fiction.html"
				th:href="@{http://localhost:8080/political}">Political</a></li>
		</ul>
	</div>

</body>
</html>