<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      sec:authorize="isAuthenticated()"
      align="center"
      style="margin: 200px 0px 0px 0px"
    >
      Hi
      <span sec:authentication="name" style="font-weight: 450">Username</span>!
      <span sec:authentication="principal.authorities">Roles</span>
      <h1 style="font-weight: 300">Welcome to E-Article Library</h1>
      <br />
      <br />

      <a th:href="@{/article/all}" class="btn btn-primary btn-sm mb-3"
        >Browse All Articles</a
      >
      <div>
        <form
          th:action="@{/logout}"
          method="post"
          style="margin: 50px 0px 0px 0px"
        >
          <input
            type="submit"
            value="Logout"
            class="btn btn-secondary btn-sm mb-3"
          />
        </form>
      </div>
    </div>
  </body>
</html>
